[user]
  name = FILL ME OUT
  email = FILL ME OUT
[alias]
  st = status
  br = branch
  aa = add -A
  di = diff
  co = checkout
  cob = checkout -b
[core]
  excludesfile = ~/.gitignore_global
[credential]
  helper = osxkeychain
  helper = cache --timeout=3600
